<%- include('partials/header'); -%>
      <div class="about row">
        <h1>Contact Us</h1>
        <p>
            +918697507758
        </p>
        <p>
            Kolkata,West Bengal,India.
        </p>
        <p>
            soumyajitroy2411@gmail.com
        </p>
      </div>

<%- include('partials/footer'); -%>