<%- include('partials/header'); -%>
<div id="layer3" class="center1 ">
    <!-- <button id="close1" style="float: right">X</button> -->
    <form action="/" class="transfer1">
      <legend>Payment Succesful !</legend>
      <P class="success-para">You transfered Rs.1000 into account of
          Soumyajit roy .</P>
      <p class="success-para">Remaining balance : Rs.1234</p>
      <!-- <button class="success-button"><a class="OK" href="/">OK</a></button> -->
      <a class="OK" href="/"><button class="success-button btn btn-primary">OK</button></a>
    </form>
  </div>
<%- include('partials/footer'); -%>